*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
form {
  margin: 0;
  padding: 0;
}

header {
  background-color: #404258;
  text-align: left;
  padding: 16px;
  color: #fff7f1;
}

.main-container {
  background-color: #474e68;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 100vh;
}

.sub-main-container {
  flex: 1;
}

.input-container,
.edit-container {
  background-color: #50577a;
  margin: 10px;
  padding: 20px;
  color: #fff7f1;
  border-radius: 10px;
}

.book-container {
  background-color: #50577a;
  flex: 1;
  margin: 10px;
  padding: 20px;
  color: #fff7f1;
  border-radius: 10px;
}

.shadow {
  box-shadow: 0 5px 10px #404258, 0 15px 40px rgba(166, 173, 201, 0.2);
}

.item {
  background-color: #6b728e;
  padding: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  min-width: fit-content;
}

label {
  margin-top: 10px;
}

input {
  border-radius: 5px;
  height: 1.5rem;
  border-style: none;
  margin-top: 5px;
}

.item > .inner h2 {
  margin-bottom: unset;
}

.item > .inner p {
  margin-top: 5px;
}

.btn-submit,
.search-button,
.unread-button,
.delete-button,
.read-button,
.edit-button {
  border-radius: 5px;
  border-style: none;
  margin-right: 0.5em;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: 'Ubuntu', sans-serif;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group-checked {
  display: flex;
  flex-direction: row;
}

.form-group-checked > input {
  margin-top: 8px;
}

.btn-submit,
.search-button {
  background-color: #2275d4;
  color: #fff7f1;
  height: 1.8rem;
  box-shadow: 0 5px 10px #404258;
}

.unread-button {
  background-color: #38cdc6;
  color: #fff7f1;
  height: 1.6rem;
  box-shadow: 0 5px 10px #404258;
}

.read-button {
  background-color: #29a83b;
  color: #fff7f1;
  height: 1.6rem;
  box-shadow: 0 5px 10px #404258;
}

.delete-button {
  background-color: #d64141;
  color: #fff7f1;
  height: 1.6rem;
  box-shadow: 0 5px 10px #404258;
}

.edit-button {
  background-color: #dcdd40;
  color: #404258;
  height: 1.6rem;
  box-shadow: 0 5px 10px #404258;
}

.search-container {
  margin-bottom: 10px;
}

.search-container > input {
  margin-right: 10px;
  width: 50%;
}

@media only screen and (max-width: 1024px) {
  .main-container {
    margin: 0;
  }

  .main-container .sub-main-container,
  .book-container {
    width: 100%;
  }

  .list-book {
    width: 90%;
  }

  .form,
  #form-edit-book {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .main-container {
    margin: 0;
    width: 100%;
    display: flex;
    flex-flow: column;
  }

  .sub-main-container,
  .book-container {
    width: 100%;
  }

  .list-book {
    width: 100%;
  }

  .form,
  #form-edit-book {
    width: 100%;
  }
}
